/*dark green*/
.thcolor,.thcolorhover:hover,.kode-section-title h2,.kode-pro-inner:hover figcaption h4 a,.next-prev-style .owl-nav div,
.kode-blog-list ul li:hover .kode-time-zoon h5 a,.kode-large-blog ul li:hover .kode-blog-btn,.children li a:before,
.kode-grid-blog .kode-blog-options li a:hover,.widget-tabnav li:hover a,.widget-tabnav li.active a,
.kode-recent-blog > ul > li:hover h6 a,.widget-recent-news ul li:hover h6 a,.kode-related-blog ul li:hover h6 a,
.kode-gallery ul li:hover h2 a,.player-nav li.active a,.fixer-pagination a:hover,.next-prev-style .owl-nav div {
    color: #195D10 !important;
}

.heading-12 span.left, .heading-12 span.right, .thbg-color,.thbg-colorhover:hover,.navbar-nav > li > a:before,.owl-nav div:hover,.kode-team-network li a:hover,
.kode-team-list figure:hover figcaption h2 a,.kode-services ul li:hover .service-info,.kode-table thead,
.kode-blog-list ul li:hover .kode-time-zoon time,.kode-blog-list ul li:hover .kode-time-zoon:before,.kode-bottom-footer,
.children > li:hover > a,.pagination a:hover,.pagination span,.widget-tabnav li a:before,.widget-recent-news ul li:hover time,
.kode-table caption,.shop-btn a:hover,.fixer-btn a:hover,.kode-underconstruction .kode-innersearch form input[type="submit"] {
    background-color: #195D10;
}
.next-prev-style .owl-nav div,
.th-bordercolor,.th-bordercolorhover:hover,.kd-headbar,.kode-section-title h2,.owl-nav div:hover,
.kode-team-list figure:hover figcaption h2 a,.next-prev-style .owl-nav div,.kode-table,
.kode-simple-form ul li input[type="submit"],.children,.kode-grid-blog .kode-blog-info:before,.kode-modrenbtn:hover,
.kode-widget-title h2,.widget-recent-news ul li:hover time,blockquote,.kode-inner-fixer,
#koderespond form p input[type="button"],#koderespond form p input[type="submit"],.kode-header-three .navbar-nav > li > a::before {
    border-color: #195D10 !important;
}
.tab-widget {
    box-shadow: 0px 2px 0px 0px #195D10,0px 2px 0px 0px #195D10 inset;
}


.kode-admin-post:before,
.kode-result-list article:before,
.kode-testimonial figure:before,
.countdown-amount:before{
    border-top-color: #195D10;
}
.subheader-height:after{
    border-bottom-color: #195d10;
}
.subheader-height:before{
    background: #195d10;
}
.kode-subheader{
	background:#009c00;
}
/*yellow*/
.thcolortwo,.thcolortwohover:hover,.kode-medium-blog >ul >li:hover h5 a,.kode-medium-blog .kode-blog-options li a:hover {
    color: #ffe325;
}
.thbg-colortwo,.thbg-colortwohover:hover,#mainbanner .flex-control-paging li a.flex-active,.kode-pro-inner:hover .kode-pro-info,
.kode-medium-blog >ul >li:hover .medium-info time, .kode-caption h2{
    background-color: #ffe325;
}
.kode-caption h2:before, .kode-caption h2:after{
	border-bottom-color: #ffe325;
}

.kode-modren-btn, .th-bordertwocolor,.th-bordercolortwohover:hover,.kode-medium-blog,.kode-medium-blog >ul >li:hover .medium-info time,
.kode-loginform p input[type="submit"] {
    border-color: #ffe325;
}


















/*
============================
		font-color
============================
*/
.kode_football_copyright_caption p a:hover,
.kode_football_footer_information ul  li a:hover,
.kode_football_news_caption p,
 .kode_football_gallery_plus:hover,
.kode_football_product_star li a,
.kode_football_heros_caption h6,
.countdown li  h5,
.kode_football_latest_eangle_2 span,
.kode_football_latest_eangle span,
.kode_football_latest_heading strong,
.kode_football_latest_heading h2 span,
.kode_football_banner_caption  a.active,
.kode_football_banner_caption  a:hover,
.kode_football_banner_caption h1 span,
.kode_football_top_navigation_right ul li a:hover,
.kode_football_top_navigation ul li a.active,
.kode_football_top_navigation ul li a:hover,
.kode_football_icon_cart li a:hover,
.kode_football_regsiter li a.active,
.kode_football_regsiter li a:hover,
.kode_football_top_social ul li a.active,
.kode_football_top_social ul li a:hover {
	color:#ffcc33;
}	
/*
============================
		background-color
============================
*/
.kode_football_ipl_tabs .nav.nav-tabs a:hover,
.kode_football_footer_social_icon ul li a:hover,
.kode_footer_newslater_submit,
.kode_football_news_wraper  .bx-wrapper .bx-pager.bx-default-pager a.active,
.kode_football_news_wraper  .bx-wrapper .bx-pager.bx-default-pager a:hover,
.kode_football_news_icon,
.kode_football_news_fig span,
.kode_football_gallery_read a,
.kode_football_latest_video_caption,
.kode_football_leader_wraper,
.kode_football_ipl_cols > ul > li:hover:before,
.kode_football_ipl_fixture:before,
.kode_football_product_icon,
.kode_football_heros_wraper .owl-next:hover:before,
.kode_football_heros_wraper .owl-prev:hover:after,
.kode_football_heros_icon:before,
.kode_football_match_wraper,
.kode_football_latest_readmore a,
.kode_football_latest_compition a,
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active{
	background-color:#ffcc33;
	
}
/*
============================
		border-color
============================
*/
.kode_football_news_fig span:before,
.kode_footbal_leader_team,
.kode_football_product_fig:hover figure,
.kode_football_heros_fig figure,
.kode_football_latest_view a:hover,
.kode_football_latest_compition a:before,
.kode_football_banner_caption  a.active,
.kode_football_banner_caption  a:hover{
	border-color:#ffcc33;
}
/*
============================
		transition-color
============================
*/
.kode_football_ipl_tabs .nav.nav-tabs a,
.kode_football_copyright_caption p a,
.kode_football_footer_social_icon ul li a,
.kode_footer_newslater_submit,
.kode_football_footer_gallery img,
.kode_football_footer_information ul  li a,
.kode_football_gallery_fig_4 figure:after,
.kode_football_gallery_fig_3 figure:after,
.kode_football_gallery_fig_2 figure:after,
.kode_football_gallery_fig figure:after,
.kode_football_news_fig,
.kode_football_news_icon a,
.kode_football_news_fig .kode_football_news_search,
.kode_football_news_fig figure:before,
.kode_football_news_fig .kode_football_news_search,
.kode_football_gallery_plus,
.kode_football_gallery_fig_caption,
.koode_footall_gallery_fig_stone figure:before,
.koode_footall_gallery_fig_last figure:before,
.kode_football_gallery_store_list figure:before,
.kode_football_gallery_store figure:before,
.kode_football_gallery_fig_2 figure:before,
.kode_football_gallery_fig figure:before,
 .kode_football_gallery_plus,
.kode_football_gallery_read a,
.kode_football_video_top_arrow ,
.kode_football_latest_video_content .kode_football_video_capital,
.kode_football_latest_video_content .kode_football_video_bold,
.kode_football_latest_video_content .kode_football_video_italic,
.kode_football_latest_video_tabs span,
.kode_football_latest_video_caption ul li:after,
.kode_football_latest_video_caption ul li:before,
.kode_football_ipl_cols > ul > li:before,
.kode_football_ipl_cols > ul > li,
.kode_football_product_star a,
.kode_football_product_icon,
.kode_football_product_fig figure,
.kode_football_product_icon li a,
.kode_football_heros_wraper .owl-next:before,
.kode_football_heros_wraper .owl-prev:after,
.kode_football_heros_icon li a,
.kode_football_heros_icon,
.kode_football_latest_view a,
.kode_football_latest_compition a,
.kode_football_latest_readmore a,
.kode_football_banner_caption  a,
.kode_football_top_navigation_right ul li a,
.kode_football_top_navigation ul li a,
.kode_football_icon_cart li a,
.kode_football_regsiter li a,
.kode_football_top_social ul li a{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}







/*
============================================================
		   Font Color
============================================================
*/
.crkt-team-dec:hover h4 a,
.crkt-bnr-caption h4 b,
.crkt-event .text h5 a,
.crkt-table thead th,
.crkt-videos .text h4 a,
.crkt-videos .thumb:before,
.crkt-news:hover .text h4 a,
.crkt-videos .text p a:hover,
.crkt-more:hover,
.post-caption h5 a:hover,
.crkt-copyright p a:hover,
.widget ul li:hover,
.crkt-fixtures-dec .text:hover h4 a,
.crkt-viewmore a:hover,
.add-caption h4 a:hover,
.crkt-bx-banner .bx-wrapper .bx-controls-auto .active.bx-start::before,
.crkt-bx-banner .bx-wrapper .bx-controls-auto .active.bx-stop::before
{	
	color: #ffcd02;
}
/*
	  ============================================================
		   Background Color
	  ============================================================
*/
.crkt-topbar,
.crkt-navigation li:hover,
.crkt-links .crkt-btn1.active,
.crkt-links .crkt-btn1:hover,
.crkt-hd:before,
.crkt-news .text h4:before,
.cup-name,
.crkt-hd2 h2:before,
.score-btn,
.crkt-tabnav > li.active.current > a,
.crkt-accordian .accordion,
.crkt-midbar,
.post-caption small,
.crkt-more,
.crkt-hd3:before,
.crkt-icon:hover,
.crkt-social li a:hover,
.crkt-slider .bx-wrapper .bx-controls-direction a,
.crkt-fixtures-hd,
.crkt-pagination a,
.crkt-dropdown .dropdown.open button,
.crkt-fixtures-link a:hover,
.crkt-fixtures-more a,
.add-caption h4:before,
.kode-cricket .modal-header
{
	background-color: #ffcd02;
}
/*
	  ============================================================
		   Border Color
	  ============================================================
*/

.crkt-links .crkt-btn1.active,
.crkt-links .crkt-btn1:hover,
.crkt-event .thumb,
.crkt-videos .thumb,
.crkt-dropdown .dropdown.open button,
.crkt-fixtures-link a:hover,
.crkt-bx-banner  .bx-wrapper .bx-pager.bx-default-pager a.active
{
	border-color: #ffcd02;
}

.crkt-tabnav > li.active.current > a:before{
	border-color: #ffcc02 transparent transparent transparent;	
}
/*
============================================================
		   Transaction Effect
============================================================
*/
.crkt-fixtures-dec .text,
.crkt-fixtures-dec .text h4 a,
.crkt-btn1,
.crkt-topbar li a,
.crkt-topbar li,
.crkt-search input[type="text"],
.crkt-navigation li,
.crkt-tabnav li a,
.crkt-tabnav > li.active > a:before,
.crkt-accordian .accordion,
.crkt-table tr,.crkt-videos .thumb:before,
.crkt-news .text h4 a,.crkt-icon,
.crkt-news .thumb img,
.crkt-social li a,
.crkt-videos .text p a,
.crkt-team-dec h4 a,
.crkt-more,
.post-caption h5 a,
.input-dec button,
.crkt-social-2 li a,
.widget-crktgallery ul li img,
.crkt-copyright p a,
.widget ul li,
.crkt-slider .bx-wrapper .bx-controls-direction a,
.crkt-pagination a,
.crkt-dropdown .dropdown button,
.crkt-fixtures-link a,
.crkt-fixtures-more a,
.crkt-viewmore a,
.add-caption h4 a
 {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}