@charset "utf-8";

/* CSS Document */

@media (min-width: 1300px) {
	.subheader-height:before{
		width: 52.1%;

	}
	.subheader-height:after{
		right: 52.1%;
	}
}
@media (min-width: 1400px) {
	.subheader-height:before{
		width: 51.4%;

	}
	.subheader-height:after{
		right: 51.4%;
	}
}

@media (min-width: 1900px) {
	.subheader-height:before{
		width: 51.6%;

	}
	.subheader-height:after{
		right: 51.6%;
	}
}
/*
===========================================================================
								1200px
===========================================================================
*/
@media (min-width: 1200px) {
.dl-menuwrapper {
	display: none;
}
.kode-full-size-wrapper .bx-controls-direction {
	display: none;
}

}
/*
===========================================================================
							992px to 1199px
===========================================================================
*/
 @media (min-width: 992px) and (max-width: 1199px) {
.dl-menuwrapper {
	display: none;
}
.crkt-logo{
		margin:0px;
        padding: 13px 0;
	}
	.crkt-bnr-caption{
		margin:-172px auto auto -114px;
	}
	.current-match a {
		line-height: 30px;
	}
	.crkt-hd3 h4{
		font-size:23px;
	}
	.crkt-event .text a {
		font-size: 13px;
	}
	.crkt-fixtures-dec .text span{
		font-size:15px;
	}
	.input-dec input[type="text"]{
		width:177px;
	}
	.input-dec button{
		padding:13px 16px 12px;
	}
	.widget-crktgallery ul li{
		width:31%;
	}
	.crkt-team-dec{
		padding:25px 88px 25px 0;
	}
	.crkt-plyer1{
		margin-left:-574px;
		width:45%
	}
	.crkt-plyer2{
		display:none;
	}
     #header-style-3 .navigation li ul li a{
         text-align: left;
     }
.header-9 .kf-cart-options .cart-itmes {
	padding: 16px 14px;
}
.kode-full-size-wrapper .bx-controls-direction {
	display: none;
}
.shipping-services {
	padding: 10px;
}
.navigation ul > li > a, .navbar-nav > li > a {
	padding: 30px 10px;
}
.flickr_badge_image {
	float: left;
	margin: 0 -9% 10px 0;
	width: 33.333%;
}
.flickr_badge_image img {
	width: 100%;
}
.navigation ul > li > a, .navbar-nav > li > a {
	font-size: 12px;
}
    #header-style-3.cricket-header .navigation ul > li > a, 
     .navbar-nav > li > a{
         padding-left: 10px;
         padding-right: 10px;
     }
     #header-style-3.cricket-header .crkt-navigation-wrap{
         text-align: right;
     }
      #header-style-3.cricket-header .crkt-navigation{
         float: none;
         display: inline-block;
         margin-bottom: -5px;
     }
.kode-couses-options li {
	font-size: 13px;
}
.couses-donate-btn {
	margin-top: 8px;
}
.kode_header_5 .kode_nav_1 ul li a{
	padding: 40px 12px;
}
.kode-services-3 .kode-text-3 h2{
	font-size: 22px !important;
}
.donate-text p{
	font-size: 16px;
}
.donate-text .btn-filled{
	font-size: 16px;
	padding: 10px 20px;
}
.kode-cause-list .kode-cause-content .kode-text h2, .kode-newslatter h2{
	font-size: 22px !important;
}
.kode-newslatter span{
	font-size: 14px;
}
.kode-main-action span{
	font-size: 22px;
}
.kode-main-action a{
	margin-top: 15px;
}
.kode-grid-blog .col-md-4 .kode-blog-thumbnail iframe{
	height:150px;
}
.kode-timezoon{
	right:-25%;
}
.section-container .col-md-9 .kode-blog-grid-ux iframe{
	height:176px;
}
.kode-result-thumb ~ .kode-result-info{
	padding:0 150px 0 0;
}
.kode-result-list article.kode-even .kode-result-thumb ~ .kode-result-info{
	padding:0 0 0 150px;
}
.kode-result-info h2{
	font-size:20px !important;
}
.kode-table span{
	width:22%;
	font-size:15px;
}
.kode-table thead th{
	font-size:14px;
}

.kode-grid-blog .col-md-6 .kode-blog-thumbnail iframe{
	height:239px;
}
.kode-table thead th{
	font-size: 12px;
}
.kode_countdown li{
	margin:0px 15px 0px 0px;
	width:126px;
}
.kode_football_ipl_compition h4{
	width:15%;
}
.kode_football_ipl_caption{
	float:left;
}
.kode_football_ipl_row h3{
	padding:0px 10px;
}
.kode_football_ipl_caption{
	width:84%;
}
.kode_footbal_leader_team.team_1{
	padding:10px 30px;
}
.kode_football_top_navigation ul li a,
.kode_football_top_navigation_right ul li a{
	padding:0px;
}
.kode_football_leader_wraper{
	padding:0px;
}

}

/*
===========================================================================
							768px to 991px
===========================================================================
*/

 @media (min-width: 768px) and (max-width: 991px) {
	 .kode-headbar .row .col-md-3 {
	width: auto;
	float: left;
}
.kode-headbar .row .col-md-9 {
	width: auto;
	float: right;
}
.logo{
	margin:10px !important;
}
.navigation {
	display: none;
}
.dl-menuwrapper {
	display: block;
	margin: 19px 0px 19px 20px;
	float: right;
}
     #header-style-3.cricket-header .dl-menuwrapper li{
         float: left;
         width: 100%;
     }
     #header-style-3.cricket-header .dl-menuwrapper li a{
         color: #fff;
        display: block;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        list-style: outside none none;
        outline: medium none;
        padding: 15px 20px;
     }
.kode-donate-btn{
	margin:19px 0;
}
.header-9 .logo-container .logo {
	margin-bottom: 21px;
}
.shipping-services,  .kf-services {
	margin-bottom: 30px;
}
.kode-caption-wrapper {
	display: none;
}
.kf-team .social ul li a {
	padding: 30px;
}
.footer-2 .container .row .col-md-2:first-child,  .product-listing2 ul li,  .new-products .columns, .team-listing.kd-team .columns,  .product-container .thumb a {
	width: 100%;
}
.social-contacts h2 {
	float: none;
}
.social-contacts ul {
	float: none;
	margin: 0px;
	padding: 0px;
}
.social-contacts .icon-text p {
	float: none;
}
.header-1 .dl-menuwrapper {
	margin-top: 20px;
}
.kode-full-size-wrapper .bx-controls-direction {
	display: none;
}
.header-1 .logo {
	margin-top: 0;
}
.header-4 .dl-menuwrapper {
	margin-top: 0px;
}
.kode-headbar .row .col-md-3 {
	width: auto;
	float: left;
}
.kode-headbar .row .col-md-9 {
	width: auto;
	float: right;
}
.kode-main-action{
	text-align:center;
}
.kode-main-action span{
	width:100%;
	font-size:24px;
}
.kode-main-action a{
	display:inline-block;
	float:none;
}
.kode-maintitle h3{
	font-size:34px;
}

.fa-4x{
	font-size:3em
}
.project_facts span{
	font-size:35px;
}
.project_facts h2{
	font-size:20px;
}
.cause-inner-caption h2{
	font-size:18px;
}
.kode-gutter-gallery ul li{
	float:left;
	width:50%;
}
.kode-gutter-gallery ul li.clear{
	display:none;
}
.kode-classic-action{
	text-align:center;
}
.kode-actionbtn{
	float:none;
	display:inline-block;
}
#footer-widget .kode-widget-bg-footer{
	float:left;
	width:100%;
}
.kode-subheader.subheader-height .col-md-6{
	float:right;
	width:auto;
}
.kode-subheader.subheader-height div.col-md-6:first-child{
	float:left;
}
.kode-breadcrumb{
	margin:10px 0px 0px 0px;
}
.ab-thumb{
	display:none;
}
#footer-widget .kode-widget{
	float:left;
	width:100%;
}
.kode-blog-grid-ux{
	float:left;
	width:100%;
	margin:0px 0px 20px 0px !important;
}
.medium-wrap{
	margin:0px 0px 20px 0px;
}
.kode-blog-full{
	float:left;
	margin:0px 0px 20px 0px;
}
.kode-innsec ul li.kode-map-event, .kode-innsec ul li.kode-image-event{
	width:100%;
}
.event-cell h2{
	font-size:20px;
}
.kode-causes-list div.clear{
	display:none;
}
.woocommerce-content ul.products li{
	width:31.3%;
}
.newslatter-info{
	width:100%;
	text-align:center;
	margin-bottom:20px;
}
.kode-newslatter form{
	width:100%;
	padding:0px;
}
.kode_header_7 .kode_donate_btn{
	float: left;
}
.kode_header_7 .dl-menuwrapper{
	margin: 11px 0px;

}
.kode_header_7 .kode_sec_strip .col-md-4{
	width: 33.333%;
	float: left;

}
#header-style-3  .dl-menuwrapper{
	margin: 11px 0;
}
#header-style-3 .kode-donate-btn{
	float: left;
}
#header-style-3 .col-md-4{
	width: 33.333%;
	float: left;;
}
#header-style-3 .kode_loc{
	padding: 15px 0px 0px 0px;

}
#header-style-3 .kode_logo .logo {
	margin: 0px !important;

}
.kode-result-list article{
	margin-top:70px;
}
.kode-topbar-kickoff .row .col-md-6{
	width:50%;
	float:left;
}
.kode-userinfo li{
	padding:5px 7px;
}
.kode-partner .row .col-md-3{
	width:25%;
	float:left;
}
.kode-bottom-footer .row .col-md-6{
	width:50%;
	float:left;
}
.kode-partner .row .col-md-3{
	width:25%;
	float:left;
}
.kode-team-list > ul > li{
	float:left;
	width:100%;
}
.kode-grid-blog .col-md-3 .kode-blog-thumbnail iframe{
	height:360px;
}

.kode-navigation{
	display: none;
}
.kode-result-list.shape-view .margin-bottom-top-50{
	margin:0px;
}
.kode-player-tabs .kode-table thead th{
	font-size:12px;
}
.kode-newslatter h3{
	margin:0px 0px 20px 0px;
}
.kode-blog-full .kode-time-zoon h5{
	font-size:20px !important;
}
.kode-shop-list ul li{
	clear:none;
}
.woocommerce-content ul.products li{
	width:48% !important;
}
li.bbp-forum-info, li.bbp-topic-title{
	width:45%;
}
li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count{
	width:15%;
}
.kode-404-page .kode-innersearch form input[type="text"]{
	height:60px !important;
}
.kode-partner .row .col-md-3{
	width:22.833%;
}
.kode-timezoon{
	right:31%;
}
.simple-column img {
    width: 100%;
}
.kode-partner .row .col-md-3{
	width:22.933%;
}
.kode-table thead th{
	font-size:13px;
}
}

 @media (max-width: 991px){
	 .kode_football_top_wraper .row .col-md-5{
		 float:left;
		 width:auto;
	 }
	 .crkt-logo{
		margin:0px;
	}
	.crkt-navigation li{
		margin:0px;
	}
     #header-style-3.cricket-header .crkt-navigation{
         float: right;
         padding: 33px 0;
     }
     #header-style-3.cricket-header .dl-menuwrapper{
         margin: 0 0 0 15px;
     }
	.crkt-bnr-caption h4 b,
	.crkt-bnr-caption h4{
		font-size:25px;
	}
	.crkt-bnr-caption h4 span{
		line-height:34px;
	}
	.crkt-bnr-caption p{
		margin-bottom:30px;
	}
	.crkt-bnr-caption{
		margin:-143px auto 0 -56px;
	}
	.add-caption{
		padding:182px 26px;
	}
	.crkt-fixtures-link{
		bottom: 0;
		float: left;
		left: 22%;
		padding: 15px 0;
		position: relative;
		width: 100%;
	}
	.crkt-plyer2 {
		display: none;
	}
	.crkt-fixtures-dec .text{
		text-align:center;
	}
	.crkt-fixtures-dec .text p{
		float:none;
	}
	.crkt-team-dec{
		padding:40px 78px 33px 0;
	}
	.input-dec{
		text-align:center;
		margin-bottom:20px;
	}
	.input-dec button,
	.input-dec input[type="text"],
	.input-dec span{
		display:inline-block;
		float:none;
	}
	.crkt-social-2{
		text-align:center;
	}
	.crkt-hd3 h4{
		text-align:center;
	}
	.crkt-videos{
		text-align:center;
		width:32%;
	}
	.crkt-videos .thumb{
		display:inline-block;
		float:none;
		margin-bottom:15px;
	}
	.crkt-pagination{
		top:78px;
	}
	 .kode_football_top_wraper .row .col-md-2{
		 display:none;
	 }
	 .kode_football_top_wraper .row .col-md-5:last-child{
		 float:right;
	 }
	 .kode_football_top_social ul, .kode_football_icon_cart, .kode_football_regsiter{
		 margin:0px;
	 }
	 .kode_football_top_navi_wraper .row .col-md-5{
		 display:none;
	 }
	 .kode_football_top_navi_wraper .row .col-md-2{
		 float:left;
	 }
	 .kode_football_top_navi_fig{
		 margin:0px;
	 }
	 .kode_football_top_wraper:before{
		 width:100%;
	 }
	 .kode_football_top_wraper:after{
		 display:none;
	 }
	 .kode_football_top_wraper{
		 padding:15px 0px;
	 }
	 .kode-result-rugby{
		 padding:0px;
	 }
	
	 .kode-result-rugby .row .col-md-5{
		 width:45%;
		 float:left;
	 }
	 .kode-result-rugby .row .col-md-2{
		 width:10%;
		 float:left;
	 }
	 .kode_football_latest_fig {
		 width:80px;
	 }
	 .kode_football_matck_counter{
		 width:80%;
		 padding:30px;
	 }
	 .kode_football_match_fig{
		 width:20%;
	 }
	 .kode_countdown li{
		 width:110px;
		 margin-right:10px;
		 padding:12px 0px;
	 }
	 .kode_countdown li span{
		 font-size:34px;
	 }
	 .kode_countdown h5{
		 font-size:16px !important;
	 }
	 .kode_football_latest_view a{
		 height:50px;
		 width:150px;
		 line-height:44px;
	 }
	 .kode_football_ipl_compition h4{
		 width:13%;
		 padding:13px 0px;
	 }
	 .kode_football_ipl_caption{
		 float:left;
		 width:87%;
	 }
	 .kode_football_ipl_fixture::after, .kode_football_ipl_fixture::before{
		 transform:none;
		 -moz-transform:none;
		 -webkit-transform:none;
	 }
	 .kode_football_ipl_row h5{
		 font-size:16px !important;
	 }
	 .kode_football_ipl_row h3{
		 font-size:20px !important;
		 padding:0px 10px;
	 }
	 .kode_football_leader_row{
		 width:90%;
	 }
	 .kode_footbal_leader_team.team_1{
		 padding:10px 20px;
	 }
	 .kode_football_news_fig{
		 margin-bottom:30px;
	 }
       #header-style-3.cricket-header .dl-menuwrapper li{
         float: left;
         width: 100%;
     }
     #header-style-3.cricket-header .dl-menuwrapper li a{
         color: #fff;
        display: block;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        list-style: outside none none;
        outline: medium none;
        padding: 15px 20px;
     }
 }
 
/*
===========================================================================
								767px
===========================================================================
*/
 @media (max-width: 767px) {

.kode-full-size-wrapper .bx-controls-direction {
	display: none;
}
.crkt-topbar li a{
		padding:12px 15px 15px;
		font-size:12px;
	}
	.spb-latest-news:hover .thumb img {
		transform: scale(1);
	}
	.pull-right {
		float: left;
		width: 100%;
	}
	.tns-achiv {
		margin-right: 15px;
		width: 46%;
	}
	.crkt-topbar{
		padding:0px 20px;
	}
	.pull-left{
		float:left;
		width:50%;
	}
	.crkt-search-wrap{
		 float:left;
		 width:50%;
	}
	.crkt-topbar li a i {
		margin-left: 10px;
	}

	.crkt-bnr-caption {
		margin: -97px auto 0 -56px;
	}
	.crkt-bnr-caption.container > p {
		display: none;
	}
	.crkt-bnr-caption h4{
		padding:0px;
	}
	.crkt-bnr-caption h4:after,
	.crkt-bnr-caption h4:before{
		background-color:transparent;
	}
	.crkt-btn1{
		padding:12px 15px;
	}
	.crkt-bnr-caption {
		margin: -76px auto 0 6px;
	}
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
		bottom:-47px;
	}
	.crkt-news .thumb{
		width:100%;
	}
	.crkt-news .text {
		width: 100%;
	}
	.crkt-news{
		margin-bottom:20px;
		border-top:1px solid #ddd;
	}
	.crkt-event .text{
		padding:0 0 0 25px;
	}
	.add-caption {
		padding: 88px 26px;
	}
	.crkt-pagination {
		position: absolute;
		right: 10px;
		top: 60px;
	}
	.crkt-daterange h4{
		margin-bottom:10px;
	}
	.crkt-dropdown .dropdown button{
		padding:13px 16px;
	}
	.crkt-dropdown .dropdown{
		margin-right:5px:
	}
	.crkt-fixtures-link a:first-child{
		margin-bottom:10px;
	}
	.crkt-team-categories {
		float: left;
		margin-bottom: 30px;
		text-align: center;
		width: 100%;
	}
	.crkt-plyer1 {
		display: none;
	}
	.crkt-more{
		text-align:center;
		float:none;
		display:inline-block;
	}
	.input-dec input[type="text"]{
		padding:10px 15px 9px;
		width:170px;
	}
	.input-dec button{
		padding:13px 21px 11px;
		font-size:13px;
	}
	.crkt-videos{
		text-align:center;
		width:32%;
	}
	.crkt-videos .thumb{
		display:inline-block;
		float:none;
		margin-bottom:20px;
	}
	.crkt-hd3 h4{
		text-align:center;
	}
	.crkt-videos .text h4{
		font-size:18px;
		margin-bottom:10px;
	}
	.crkt-videos .text p{
		margin:0 0 10px;
	}
.kode-navigation-wrapper{
	display:none;
}
.kode-headbar .row .col-md-3 {
	width: auto;
	float: left;
}
.kode-headbar .row .col-md-9 {
	width: auto;
	float: right;
}
.logo{
	margin:10px;
}
.dl-menuwrapper{
	float:right;
	margin:9px 0px;
}
.kode-donate-btn{
	margin:19px 0px;
}
#footer-widget .kode-widget-bg-footer{
	float:left;
	width:100%;
}
.woocommerce div.product div.images{
	width:100%;
}
.woocommerce div.product div.summary{
	padding:0px;
	width:100%;
}
.woocommerce ul.products {
	margin:0px;
	float:left;
	width:100%;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	width:100%;
	float:left;
	margin:0px 0px 30px 0px;
}
.kode-main-action span{
	width:100%;
	text-align:center;
	font-size:20px;
}
.kode-main-action a{
	float:none;
	display:inline-block;
	margin-top:10px;
}
.kode-main-action{
	text-align:center;
}
.kode-main-action h2{
	font-size:20px;
	display:block;
}
.kode-actionbtn{
	float:left;
	width:100%;
}
.kode-actionbtn a{
	float:none;
	display:inline-block;
	margin:5px 0px;
}
.kode-team ul.row{
	margin:0px;
}
.kode-team ul.row li{
	margin:0px 0px 30px 0px;
	padding:0px;
}
.kode-header-absolute{
	position:relative;
	z-index:100;
}
.kode-headbar{
	float:left;
	width:100%;
	margin:0px;
}
.kode-caption .kode-caption-title{
	font-size:30px;
}
.kode-caption .kode-caption-text{
	font-size:16px;
}
.kode-caption .kode-linksection{
	font-size:16px;
	padding:5px 20px;
	margin:0px;
}
.kode-caption{
	bottom:30px;
}
.kode-gutter-gallery ul li{
	float:left;
}
.kode-maintitle h3{
	font-size:26px;
}
.kode-maintitle h2{
	font-size:18px;
}
.kode-classic-action {
	text-align:center;
}
.kode-classic-action h2{
	font-size:18px;
}
.kode-actionbtn{
	text-align:center;
}
.kode-actionbtn a{
	padding:8px 10px;
	display:inline-block;
	float:none;
}
.kode-gallery ul.kode-item {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.kode-gallery ul.kode-item li{
	width:100%;
	float:left;
}
.kode-team .team-network ul li{
	margin:0px 3px;
}
.kode-newslatter {
	text-align:center;
	padding:20px 30px;
}
.kode-newslatter h2{
	font-size:18px;
}
.newslatter-info,{
	margin:0px 0px 20px 0px;
}
.newslatter-info, .kode-newslatter form{
	float:left;
	width:100%;
	position:relative;
	padding:0px;
	text-align:center;
}
.kode-newslatter form input[type="submit"]{
	padding:10px 15px;
	position:absolute;
	right:0px;
	top:0px;
	font-size:12px;
	height:100%;
	border-radius:0px;
}
.kode-newslatter form input[type="text"]{
	width:100%;
	height:44px;
}
.kode-blog-list.kode-mediium-blog figure{
	float:left;
	width:100%;
}
.kode-mediium-blog figure ~ .kode-blog-info{
	padding:20px;
	float:left;
	width:100%;
}
.blog-item-holder .columns{
	width: 100%;
}
.kode-services-3{
	margin-bottom: 30px;
}
.kode_header_7 .kode_donate_btn{
	float: left;
}
.kode_header_7 .dl-menuwrapper{
	margin: 11px 0px;

}
#header-style-3  .dl-menuwrapper{
	margin: 11px 0;
}
#header-style-3 .kode-donate-btn{
	float: left;
}
#header-style-3 .col-md-4{
	width: 33.333%;
	float: left;
}
#header-style-3 .kode_loc{
	padding: 15px 0px 0px 0px;

}
#header-style-3 .kode_logo .logo {
	margin: 0px !important;

}

#header-style-3 .kode-team-network{
	float: left;
	padding: 0px;
	margin:0px;
	text-align: center;
}
#header-style-3 .kode-team-network li{
	display: inline-block;
	float: none;
}
#header-style-3 .kode_top_strip{
	padding: 10px 0px;
}
.kode-result-list article{
	margin-bottom:100px;
}
.kode-topbar-kickoff .row .col-md-6{
	width:50%;
	float:left;
}
.kode-userinfo li{
	padding:5px 7px;
}
.kode-partner .row .col-md-3{
	width:31.333%;
	float:left;
	margin:0px 1%;
}
.kode-grid-blog .col-md-3 .kode-blog-thumbnail iframe{
	height:360px;
}
.kode-team-list > ul > li{
	float:left;
	width:100%;
}
.kode-grid-blog .col-md-4 .kode-blog-thumbnail iframe{
	height:350px;
}
.kode-caption .kode-caption-title::before, .kode-caption .kode-caption-title::after, .kode-caption .kode-caption-text, .kode-caption .kode-linksection{
	display:none;
}
.kode-caption{
	bottom:80px;
}
.countdown-section{
	margin:0px 20px;
}
.kode-team-timeline ul{
	margin:0px;
}
.kode-team-match ul li{
	margin-left:30px;
	padding:20px;
}
.kode-team-timeline ul li{
	width:100%;
	margin:0px 0px 90px 0px;
	padding:0px;
}
.kode-timezoon{
	right:50%;
	margin-right:-43px;
	bottom:-77px;
	top:auto;
	z-index:10;
}
.kode-subheader{
	
	height:auto;
}
.kode-subheader.subheader-height{
	padding:20px 0px;
}
.simple-column img{
	width:100%;
}
.header-8{
	background-color:#000;
}
.kode-bottom-footer .row div.col-md-6:first-child{
	float:left;
}
.kode-bottom-footer .row div.col-md-6{
	width:auto;
	float:right;
}
.kode-result-list.shape-view .margin-bottom-top-50{
	margin:0px;
}
.kode-player-tabs .kode-table thead th, .kode-table thead th{
	font-size:12px;
}
.woocommerce div.product div.images{
	width:100% !important;
}
.woocommerce div.product div.summary{
	float:left !important;
	width:100% !important;
	padding:20px 0px 0px 0px !important;
}
.timeline-inner:before{
	display:none;
}
.kode-team-timeline ul:before{
	margin:0px;
}
.kode-admin-post{
	padding:20px;
}
.kode-admin-post:before{
	border-right:100px solid transparent;
	border-top:100px solid transparent;
	top:-16px;
}
.kode-result-thumb ~ .kode-result-info{
	padding:0 100px 0 0;
}
.kode-result-list article.kode-even .kode-result-thumb ~ .kode-result-info{
	padding:0  0 0 100px;
}
.kode-result-list article:before{
	border-left: 140px solid transparent;
    border-top: 140px solid;
	top:0px;
}
.kode-result-thumb{
	height:90px;
	width:90px;
}
.kode-result-thumb img{
	width:100%;
	height:auto;
}
.kode-result-count{
	font-size:30px;
	top:-23px;
}
.kode-result-list article{
	margin:50px 0px 0px 0px;
}
.kode-newslatter h3{
	margin-bottom:20px;
}
.kode-player-tabs .kode-table thead th{
	padding:4px 5px;
}
.player-nav li a{
	padding:14px 20px;
}
.kode-partner .row .col-md-3{
	width:22.933%;
}
.kd-loginbox .modal-dialog{
	width:97%;
}
.kode-table thead th:nth-child(2), 
.kode-table tbody td:nth-child(2), 
.kode-table thead th:nth-child(4), 
.kode-table tbody td:nth-child(4){
	display:block;
}
li.bbp-forum-info, li.bbp-topic-title{
	width:40%;
}
li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count{
	width:15%;
}
li.bbp-forum-freshness, li.bbp-topic-freshness{
	width:30%;
}
.kd-testimonial p{
	font-size:18px !important;
}
.kd-testimonial .bx-wrapper li{
	padding:0px 70px !important;
}
.kode-404-page .kode-innersearch .kode-search{
	width:100%;
}
.header_2{
	position:relative;
	float:left;
	width:100%;
	background-color:#000;
	box-shadow:0 10px 10px 0 rgba(0, 0, 0, 0.5);
}
.kode_football_top_navi_wraper{
	padding:15px 0px;
}
.kode_football_top_navi_wraper .dl-menuwrapper{
	margin:35px 30px;
}
.kode-result-rugby .row .col-md-5 ,.kode-result-rugby .row .col-md-2{
	width:100%;
	text-align:center;
}
.kode_football_latest_win {
	float:left;
	width:100%;
	
}
.kode_football_latest_win *{
	display:inline-block;
	float:none;
	vertical-align:middle;
}
.kode_countdown li{
	margin-bottom:10px;
}
.kode_football_latest_view a{
	width:140px;
	margin-right:15px;
}
.kode_football_latest_view a:last-child{
	margin:0px;
}
.kode_football_product_fig figure img{
	width:100%;
}
.kode_football_ipl_fixture{
	width:100%;
	padding:20px 20px;
	position:absolute;
	left:0px;
	top:0px;
}
.kode_football_ipl_cols{
	float:left;
	width:100%;
}
.kode_football_ipl_tabs{
	float:left;
	width:100%;
	padding:180px 0px 0px 0px;
}
.kode_football_leader_row{
	width:100%;
}
.kode_football_leader_wraper:before{
	display:none;
}
.kode_football_leader_wraper{
	padding:50px 0px 30px 0px;
}
.kode_football_leader_fig{
	width:85%;
}
.kode_football_leader_row{
	width:100%;
}
.kode_footbal_leader_team ul{
	width:100%;
}
.kode_footbal_leader_team h5{
	width:100%;
	text-align:center;
}
.kode_football_ipl_wraper{
	padding:70px 0 0;
}
.kode_football_match_fig{
	display:none;
}
}
/*
===========================================================================
								480px
===========================================================================
*/
 @media (max-width: 480px) {
	.header-8{background:#333;}
	.kode-userinfo li a{font-size:12px;}
	.logged-in.admin-bar .kode-header-1{margin-top:0px;}
	.kode-userinfo{float:none;text-align:center;}
 	.kode-newslatter{
 		padding: 20px 0px;
 	}
 	.kode-newslatter h2{
 		font-size: 22px !important;
 	}
	.crkt-topbar li{
		display:inline-block;
		float:none;
	}
	.crkt-search-wrap{
		width:100%;
	}
	.crkt-search{
		text-align:center;
	}
	.crkt-search input[type="text"]{
		display:inline-block;
		text-align:center;
	}
	.crkt-logo{
		width:auto;
	}
	.dl-menuwrapper {
		float: right;
		text-align: right;
	}
	.crkt-social{
		text-align:center;
	}
	.crkt-social li{
		display:inline-block;
		float:none;
	}
	.dl-menu.dl-menuopen {
		position: absolute;
		right: 0;
		top: 68%;
	}
	.crkt-bnr-caption h4 b, 
	.crkt-bnr-caption h4{
		font-size:16px;
	}
	.crkt-links {
		display: none;
	}
	.crkt-bnr-caption h4 span {
		line-height: 28px;
	}
	.crkt-bnr-caption {
		margin: -37px auto 0 6px;
	}
	.current-match li h4{
		line-height:27px;
	}
	.add-caption {
		padding: 31px 26px;
	}
	.crkt-hd3 h4{
		font-size:22px;
	}
	.crkt-event .thumb{
		width:100%;
		margin-bottom:20px;
	}
	.crkt-event .thumb img{
		width:100%;
	}
	.crkt-event .text {
		text-align: center;
		padding:0px;
		overflow:visible;
	}
	.crkt-videos .thumb{
		width:100%;
	}
	.crkt-videos{
		width:100%;
	}
	.crkt-fixtures-hd h4{
		text-align:center;
		width:100%;
		margin-bottom:5px;
	}
	.crkt-fixtures-hd .crkt-social-2{
		width:100%;
		text-align:center;
		float:left;
	}
	.crkt-fixtures-hd .crkt-social-2 li{
		display:inline-block;
		float:none;
	}
	.crkt-daterange > h5 {
		display: none;
	}
	.open > .dropdown-menu,
	.crkt-dropdown .dropdown button,
	.crkt-dropdown .dropdown{
		margin-bottom:10px;
		width:100%;
	}
	.crkt-daterange h4{
		width:100%;
		text-align:center;
	}
	.crkt-fixtures-dec h6{
		font-size:13px;
	}
	.crkt-fixtures-dec .text h4{
		font-size:18px;
	}
	.crkt-fixtures-link{
		left:0px;
		text-align:center;
		width:100%;
	}
	.crkt-fixtures-link a{
		display:inline-block;
		float:none;
	}
	.crkt-fixtures-dec .text p{
		font-size:14px;
		margin:0 0 6px;
	}
	.crkt-fixtures-dec .text span{
		line-height:22px;
	}
	.crkt-social li a{
		width:40px;
	}
	.post-caption h5{
		font-size:25px;
		line-height:32px;
	}
	.crkt-slider .bx-wrapper .bx-controls-direction a{
		top:10px;
	}
	.input-dec input[type="text"]{
		width:166px;
	}
	.crkt-social-2 li span{
		display:none;
	}
	.widget-crktgallery ul li{
		width:30%;
	}
	.crkt-copyright{
		width:100%;
		text-align:center;
	}
	.crkt-copyright span,
	.crkt-copyright p{
		width:100%;
	}
	.crkt-dropdown{
		padding-top:50px;
	}
	.crkt-pagination {
		position: absolute;
		right: 27px;
		top: 99px;
	}
 	.kode-newslatter span{
 		font-size: 14px;
 	}
 	.widget_kode_contact_widget ul li span, .widget_kode_contact_widget ul li a{
 		margin: 0px !important;
 	}
 .kode-topbar{
	height:auto;
}
.kode-barinfo,.kode-email{display:none;}
.dl-menuwrapper {
	display: block;
	margin-top: 43px;
	float: right;
}
.voluntree-info figure{width:100%;}
.kode-team-network li{margin-bottom:10px;}
.kode-post-info li{float:none;padding:0px;}
.kode-post-info,
.kode-icons span{float:none;display:inline-block;width:100%;text-align:center;}
.kode-funding-full .kode-editor h2{margin-bottom:30px;}
.kode-coueses-list .couses-donate-btn{float:none;}
.kode-coueses-list,
.kode-couses-options{float:none;display:inline-block;text-align:center;}
.kode-couses-options li{width:100%;padding:0px;margin-bottom:10px;}
.kode-postsection .inner-post.thcolorhover,
.kode-postsection{text-align:center;width:100%;}
.kode-postsection a{float:none;display:block;margin-bottom:10px;}
.kode-editor .left-spacer, .kode-blog-full .kode-blog-info{clear:both;padding:0px;}
.kode-postoption .blog-info.blog-date{margin-bottom:15px;}
#footer-widget .kode-widget-bg-footer:before{width:0px;}
.countdown .item{width:22.2%}
.admin-info h4:before{right:0;margin:auto;}
.kode-admin-post figure{float:none;display:inline-block;text-align:center;}
.kode-admin-post .admin-info{padding:0px !important;}
.kode-admin-post,
.kode-admin-post .admin-info{float:none;display:block;text-align:center;clear:both;}
.countdown .item span{width:43px;}
.kode-breadcrumb{float:none;display:inline-block;text-align:center;}
.kode-subheader.subheader-height{height:auto;padding:30px 0px;display:block;text-align:center;}
.kode-innsec ul li.kode-map-event,
.kode-innsec ul li.kode-image-event{width:100%;}
.event-cell.short-info{width:auto;}
.event-cell{display:block;}
.header-9 .kf-cart-options .cart-itmes,  .widget_shopping_cart_content,  .social-icons {
	width: 100%;
}
.kf-cart-options .top-nav ul,  .kf-cart-options .cart-itmes,  .social-icons ul {
	text-align: center;
}
.kf-cart-options .cart-itmes,  .kf-cart-options .top-nav ul,  .kf-cart-options .cart-itmes p,  .kf-cart-options .top-nav ul li,  .social-icons ul li {
	float: none;
	display: inline-block;
}
.kf-cart-options .top-nav {
	margin: 0px;
}
.navigation {
	display: none;
}
.header-9 .logo-container .container {
	padding: 30px 15px;
}
.kf-services {
	margin-bottom: 30px;
}


.kode-caption .kode-caption-title{
	font-size:20px;
	margin:0px 0px 5px 0px;
}
.kode-caption .kode-caption-text{
	font-size:12px;
	margin:0px 0px 5px 0px;
}
.kode-caption .kode-linksection{
	font-size:12px;
	padding:5px 10px;
	margin:0px;
}
.dl-menuwrapper{
	margin:16px 0;
}
.kode-headbar{
	border:none;
}
.kode-headbar .logo{
	margin:10px;
	width:140px;
}
.kode-rightsection{
	padding:0px;
}
.kode-caption{
	bottom:10px;
}
.kode-donate-btn{
	display:none;
}


.shipping-services {
	margin-bottom: 15px;
}
.heading-1 h2, .heading-2 h2, .heading-3 h2 {
	padding: 0px 0px 10px 0px;
}
.heading-1 h2::before, .heading-1 h2::after, .heading-2 h2::before {
	content: none;
}
.kd-call-action h2, .discount-2 h2, .discount-3 h2, .children-discount h2 {
	font-size: 30px;
}
.kd-call-action h4 {
	font-size: 25px;
}
.kd-call-action .action-btn {
	padding: 10px 15px;
	font-size: 12px;
	display: inline-block;
}
.btn-contain-action {
	margin-top: 15px;
}
.social-contacts {
	width: 100%;
	border: none;
}
.social-contacts h2 {
	float: none;
}
.social-contacts ul {
	float: none;
	margin: 0px;
	padding: 0px;
}
.social-contacts .icon-text p {
	float: none;
}
.footer-2 .container .row .col-md-2:first-child {
	width: 100%;
}
.owl-buttons {
	position: relative;
	width: 40px;
	margin: 0 auto;
	float: none;
}
.kf-testimonials .owl-controls .owl-buttons div {
}
.kf-copyright {
	text-align: center;
}
.kf-copyright .pull-left, .kf-copyright .pull-right {
	float: none !important;
	display: inline-block;
}
.kf-copyright .pull-left {
	margin-bottom: 15px;
}
.header-1 .dl-menuwrapper {
	float: none;
	margin-top: 30px;
}
.header-1 .logo {
	margin-bottom: 30px;
	margin-right: 32px;
}
.header-1 .bag-button {
	text-align: center;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.header-1 .container .pull-left {
	float: none !important;
	display: none;
}
.header-1 .top-strip-links ul li {
	margin: 0;
}
.header-1 .top-strip-links ul li a {
	margin-right: 10px;
}
.header-1 .top-strip-links {
	text-align: center;
	width: 100%;
}
.kode-full-size-wrapper .bx-controls-direction {
	display: none;
}
.header-5 .navigation-3 .navigation {
	margin: 15px 0 0;
}
.header-4 .woocommerce.cart-option {
	margin: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.header-3 ul.top-nav li, .header-4 ul.top-nav li {
	float: none;
	text-align: center;
	margin-left: 12px;
	display: inline-block;
}
.header-3 ul.top-nav, .header-4 ul.top-nav {
	text-align: center;
	float: none;
}
.header-3 ul.we-ship, .header-4 ul.we-ship {
	width: 100%;
	text-align: center;
	display: none;
}
.header-3 ul.we-ship li, .header-4 ul.we-ship li {
	float: none;
	text-align: center;
}
.header-4 .dl-menuwrapper {
	margin-top: 100px;
	position: relative;
	text-align: center;
	float: none;
}
.header-4 .dl-menuwrapper .dl-menu {
	float: left;
	text-align: left;
}
.header-9 .our-services .text,  .header-3 .our-services .text, .header-4 .our-services .text {
	margin-top: 10px;
}
.header-9 .our-services, .header-3 .our-services {
	margin-top: 15px;
}
.header-style-2.subheader {
	padding: 80px 0;
}
.header-1.header-7 .dl-menuwrapper {
	display: inline-block;
	float: right;
	margin-top: 22px;
	text-align: center;
}
.header-3 .nav-container .col-md-9 {
	float: right;
}
.header-3 .nav-container .col-md-3 {
	float: left;
}
.header-3 .logo-container .col-md-3 {
	width: 100%;
	text-align: center;
}
.header-9 .kf-services-container {
	display: none;
}
.header-3 .logo-container .our-services {
	display: none;
}
.header-3 .logo-container .logo {
	margin: 0px;
	width: 100%;
}
.header-3 .dl-menuwrapper {
	margin: 0px;
}
.header-5 .my-account {
	width: 100%;
	float: none;
	display: block;
	text-align: center;
}
.header-5 .my-account ul {
	float: none;
	display: block;
}
.header-5 .my-account ul li {
	float: none;
	display: inline-block;
	margin: 0px 10px 0px 0px
}
.header-5 .my-account ul li:first-child {
	margin: 0px 10px 0px 0px;
}
.header-5 .cart-option {
	margin: 10px 0px 10px 0px;
	float: none;
}
.header-5 .default-msg {
	display: none;
}
.header-8 .top-strip-links ul li:first-child {
	margin: none;
}
.header-8 .top-strip-links,  .header-8 .top-strip-links ul {
	float: none;
	text-align: center;
}
.header-8 .top-strip-links ul li {
	margin-right: 10px;
	display: inline-block;
	float: none;
	margin-left: 0px;
}
.header-8 .top-strip .container .pull-left {
	display: none;
}
.header-8 .kf-bag-items {
	width: 100%;
	float: none;
	text-align: center;
	margin: 0px;
}
.header-8 .kf-bag-items .thumb {
	float: none;
}
.header-8 .logo-container .col-md-3 {
	width: 100%;
	float: left;
}
.header-8 .nav-container .col-md-9 {
	float: right;
}
.header-8 .nav-container .col-md-3 {
	float: left;
}
.header-8 .logo {
	width: 100%;
	float: none;
	text-align: center;
}
.header-8 .dl-menuwrapper {
	margin: 10px 0px;
}
.strip-info i{
	display:none;
}
.strip-info li{
	margin:0px 15px 0px 0px;
	font-size:12px;
}
.kode-email li{
}
.kode-team-network{
	float:left;
	width:100%;
	text-align:center;
	margin:10px 0px 0px 0px;
}
.kode-team-network li{
	float:none;
	display:inline-block;
}
.kd-accordion .accordion{
	font-size:12px !important;
	padding:10px !important;
}
.kd-accordion .accordion span{
	width:30px !important;
	padding:12px 0 0 !important;
}
.kode-maintitle h3{
	font-size:30px !important;
}
.kode-widget.kode-sidebar-element{
	padding:0px 20px;
	float:left;
	width:100%;
}
#footer-widget .widget-text p{
	color:#fff;
}
.kode-blog-list.kode-mediium-blog figure{
	float:left;
	width:100%;
}
.kode-mediium-blog figure ~ .kode-blog-info{
	padding:20px;
	float:left;
	width:100%;
}
.widget_kode_contact_widget span, .widget_kode_contact_widget a{
	text-align:center;
	margin-bottom:20px;
}
.kode_logo_2{
	width: 100%;
	text-align: center;
}
.kode_logo_2 .logo{
	float: none;
	display: block;
}
.kode_heart{
	float: left;
	margin: 10px 0px 0px 0px;
}
.kode_header_2 .dl-menuwrapper{
	margin: 10px 0px 0px 0px;
	float: right;
}
.kode_contact_icon,.kode_loc{
	width: 100%;
	float: left;
	text-align: center;
}
.strip-info, .strip-info {
	float: left;
	width: 100%;
	text-align: center;
}
.strip-info li, .strip-info  li{
	display: inline-block;
	float: none !important;
}
.kode_header_7 .dl-menuwrapper{
	margin: 11px 0px;

}
#header-style-3 .col-md-4{
	width: 100%;
	float: left;
}
#header-style-3 .kode-donate-btn{
	display:block;
}
#header-style-3 .kode_logo{
	margin-bottom: 15px;
}
#header-style-3  .kode_loc{
	display: none;
}
.kode-topbar-kickoff .row .col-md-6{
	width:100%;
	float:left;
}
.kode-topbar-kickoff:before, .kode-topbar-kickoff:after, .kode-topbar-kickoff .bx-wrapper{
	display:none;
}
.kode-caption{
	bottom:60px;
}
.kode-team-thumb{
	width:100%;
}
.kode-team-list figure figcaption{
	width:100%;
	float:left;
	width:100%;
	text-align:center;
	bottom:0;
	background-color:rgba(255,255,255,0.8);
	padding:20px;
}
.kode-team-list .kode-modren-btn{
	float:none;
	display:inline-block;
}
.kode-team-list figure figcaption h2{
	text-align:center;
}
.kode-team-list .kode-team-network-kick{
	float:none;
	margin:0px 0px 20px 0px;
	width:100%;
	text-align:center;
}
.kode-team-list .kode-team-network-kick li{
	float:none;
	display:inline-block;
}
.kode-testimonials-6 .kode-text p{
	font-size:16px;
}

.countdown-section{
	margin:0px 10px;
}
.countdown-amount{
	height:70px;
	width:70px;
	font-size:36px;
}
.countdown-amount::before{
	border-top-width:60px;
	border-right-width:70px;
	top:-10px;
}
.countdown-period{
	font-size:14px;
}
.kode-team-match ul{
	margin:40px 0px 0px 0px;
}
.kode-team-match ul li.home-kode-vs{
	margin-top:0px;
}
.heading > h2{
	font-size:26px !important;
	line-height:26px;
}
.kode-table{
	float:left;
	width:100%;
}
.kode-partner .row .col-md-3{
	margin:0px 0px 10px 0px;
	width:100%;
}
.kode-testimonials-6 .bx-wrapper .bx-controls-direction a{
	left:15px;
}
.kode-testimonials-6 .bx-wrapper .bx-controls-direction a.bx-next{
	right:15px;
}
.kode-partner ul.row{
	margin:0px;
}
.kode-newslatter form label::before{
	font-size:16px;
}
.kode-testimonials-6 .client-name{
	width:24%;
}
.header-8, .kode-subheader.subheader-height{
	padding:10px 0px;
}
.subheader-height::before, .subheader-height::after{
	display:none;
}
.kode-subheader h2{
	margin:0px;
	font-size:20px !important;
}
.kode-subheader{
	margin-bottom:20px;
}
.kode-result-thumb ~ .kode-result-info{
	padding:0 100px 0 0;
}
.kode-result-list article.kode-even .kode-result-thumb ~ .kode-result-info{
	padding:0  0 0 100px;
}
.kode-team-match ul li{
	padding:0px;
}
.kode-newslatter h3{
	font-size:22px !important;
	margin-bottom:15px;
}
.player-nav li a{
	font-size:14px;
}
.kode-caption .kode-caption-title{
	font-size:14px;
}
.kode-caption{
	padding:0px 30px;
}
.kode-result-info h2{
	font-size:15px !important;
}
.countdown-period{
	font-size:10px;
}
.countdown-amount{
	height:50px;
	width:50px;
	font-size:28px;
}
.countdown-amount:before{
	border-top-width:40px;
	border-right-width:70px;
	top:-10px;
}
.kode-team-match ul li{
	margin-left:10px;
}
.kode-team-match ul li .kode-modren-btn {
    font-size: 22px;
    padding: 5px 7px;
}
.kode-team-match ul li.home-kode-vs{
	margin-top:30px;
}
.kode-subtitle{
	font-size:14px;
	width:100%;
}
.fa-3x{
	font-size:2em;
}
.kd-counter span{
	font-size:30px;
}
.kd-counter{
	margin-bottom:30px;
}
.kd-counter small{
	font-size:12px;
}
.kode-partner .row .col-md-3{
	width:24.933%;
	margin:0px;
}
.kd-login-title{
	padding:25px 25px 0;
}
.kd-loginbox form{
	padding:0px 25px;
}
.kd-login-title span{
	font-size:18px;
	margin-bottom:10px;
}
.kd-login-title h2{
	font-size:20px !important;
}
.kd-login-network ul li{
	margin-bottom:10px;
}
.kode-shop-list .owl-nav{
	top:-34px
}
#bbpress-forums li.bbp-header ul.forum-titles li{
	font-size:10px;
	padding:10px;
	font-weight:normal
}
#bbpress-forums li.bbp-body ul li{
	padding:10px;
}
li.bbp-forum-info, li.bbp-topic-title{
	width:36%;
}
li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count{
	width:17%;
}
li.bbp-forum-freshness, li.bbp-topic-freshness{
	width:30%;
}
.bbp-author-avatar{
	display:block
}
.bbp-author-avatar img{
	width:50px;
	height:50px;
}
#buddypress div.pagination{
	margin-bottom:30px;
}
#groups-directory-form div.item-list-tabs, #members-directory-form .item-list-tabs{
	width:100%;
}
#buddypress div.item-list-tabs ul li{
	float:left;
	width:100%;
}
#buddypress div.item-list-tabs ul li a span{
	float:right;
	margin:0px;
}
#buddypress div.dir-search input[type="submit"]{
	width:100%;
}
#buddypress div.item-list-tabs ul li.last select{
	width:100%;
	max-width:inherit
}
.strip-info li{
	float:left;
	width:100%;
	margin-bottom:10px;
	text-align:left;
}
.kode-simple-form{
	padding:0px 15px;
}
.kd-testimonial p{
	font-size:14px !important;
}
.kd-testimonial .bx-wrapper li{
	padding:0px 50px !important;
}

.kd-testimonial i{
	font-size:50px;
}

.kode-table thead th:nth-child(2), 
.kode-table tbody td:nth-child(2), 
.kode-table thead th:nth-child(4), 
.kode-table tbody td:nth-child(4),
.kode-table thead th:nth-child(6), 
.kode-table tbody td:nth-child(6),
.kode-table thead th:nth-child(8), 
.kode-table tbody td:nth-child(8){
	display:none;
}
.is-countdown{
	margin:10px 0px 0px 0px;
}
.kode-widget.kode-sidebar-element{
	padding:0px;
	float:left;
	width:100%;
}
.kode-testimonials-6 .bx-wrapper .bxslider > li{
	padding:0px;
}
.widget-tabnav li:fist-child{
	margin:0px
}
ul.match-widget{
	padding:0px;
}
.kode-widget.kode-sidebar-element{
	padding:0px;
}
.kode-video-section{
	padding:60px 0px !important;
}

.kode_football_latest_win *{
	float:left;
	width:100%;
	margin:0px;
	text-align:center;
}
.kode_football_latest_eangle h6{
	font-size:20px !important;
}
.kode_football_latest_eangle span{
	font-size:18px;
}
.kode_football_latest_fig figure{
	display:inline-block;;
	width:40%;
	float:none;
}
.kode_football_latest_win.right-side-content .kode_football_latest_fig{
	margin:0px;
}
.kode_football_latest_eangle_2 h6::after, .kode_football_latest_eangle h6::after{
	width:100%;
}
.kode_football_match_fig{
	display:none;
}
.kode_football_matck_counter{
	width:100%;
	padding:20px;
}
.kode_football_latest_view a{
	width:115px;
}
.kode_football_ipl_tabs{
	padding:250px 0 0;
}
.kode_football_ipl_compition h4{
	width:20%;
}
.kode_football_ipl_caption{
	width:80%;
}
.kode_football_footer_social_icon ul{
	margin:0px 0px;
	padding:0px 20px;
}
     #header-style-3.cricket-header .crkt-logo{
         width: 100%;
         text-align: center;
     }
     #header-style-3.cricket-header .crkt-logo a{
         width: auto;
         float: none;
         display: inline-block;
     }
     #header-style-3.cricket-header .crkt-navigation-wrap{
         padding: 0 15px;
     }
      #header-style-3.cricket-header .crkt-social{
         float: left;
     }

}
